
$primary-font: 'Barlow', sans-serif;
$secondary-font: 'Fraunces', sans-serif;

// colors
$link-color: #808397;
$gray-text-color-1: #A7AAAD;
$gray-text-color-2: #5B636D;
$color-yellow-1: #FBD600;
$color-yellow-2: #FAD400;
$text-bold-color: #24303E;
$paragraph-color: #808397;

$color-light-green-1: #24554A;
$color-light-green-2: #2C7566;
$color-light-green-3: #458D7E;
$color-footer-green: #90D4C6;
$color-light-blue-1: #052C3B;
$color-light-blue-2: #19536C;