@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&family=Fraunces:wght@700;900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html, body {
  height: 100%;
}

body {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.6;
}

ul {
  list-style: none;
}

img:not(.logo-img, .profile-img) {
  max-width: 100%;
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4 {
  font-family: "Fraunces", sans-serif;
  font-weight: 900;
}

.container {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

header {
  padding: 3.2rem 0;
  background: url(../images/mobile/image-header.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: bottom;
  height: 100vh;
  color: #fff;
}

@media screen and (min-width: 700px) {
  header {
    background: url(../images/desktop/image-header.jpg) no-repeat;
    background-position: bottom;
    background-size: 100% 100%;
  }
}

.logo {
  height: 2.4rem;
}

.nav-toggle {
  display: inline;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.humburger,
.humburger::before,
.humburger::after {
  cursor: pointer;
  background: #fff;
  display: block;
  height: 3px;
  width: 3.2rem;
}

.humburger::after,
.humburger::before {
  content: '';
  width: 100%;
}

.humburger::before {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.humburger::after {
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
}

.nav {
  visibility: hidden;
  height: 0;
}

.nav-visible {
  margin-top: 3rem;
  display: block;
  visibility: visible;
  height: auto;
}

.nav-list {
  list-style: none;
  width: 100%;
  text-align: center;
  padding: 1em 0;
  background: #fff;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 999;
}

.nav-list::before {
  content: '';
  width: 4rem;
  height: 4rem;
  position: absolute;
  right: 0;
  top: -2rem;
  border-left-color: transparent;
  border-top-color: transparent;
  border-right-color: #fff;
  border-bottom-color: #fff;
  border-width: 4rem;
  border-style: solid;
}

.nav-item {
  padding: 1em 0;
}

.nav-link {
  text-decoration: none;
  color: #808397;
  font-weight: 600;
  font-size: 2rem;
}

.nav-link.btn {
  display: inline-block;
  padding: 0.75em 1.5em;
  border: 2px solid transparent;
  border-radius: 3rem;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  text-transform: uppercase;
  background: #FBD600;
  color: #24303E;
  font-family: "Fraunces", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
}

.nav-link.btn:hover {
  background: rgba(25, 83, 108, 0.05);
  color: #fff;
}

@media screen and (min-width: 700px) {
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-toggle {
    display: none;
  }
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .nav-list {
    visibility: visible;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    margin: 0;
  }
  .nav-visible {
    margin: 0;
  }
  .nav-list {
    background: transparent;
    position: relative;
  }
  .nav-list::before {
    content: none;
  }
  .nav-item {
    padding: 0;
  }
  .nav-item + .nav-item {
    margin-left: 2.4rem;
  }
  .nav-link {
    font-size: 1.8rem;
    color: #fff;
  }
  .nav-link.btn {
    background: #fff;
  }
}

.intro-text {
  padding: 8rem 0;
}

@media screen and (min-width: 700px) {
  .intro-text {
    padding: 10rem 0;
  }
}

.intro-title {
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  line-height: 1.2;
  font-size: 4rem;
  font-weight: 900;
  text-align: center;
  margin-bottom: 1em;
  color: #fff;
}

@media screen and (min-width: 700px) {
  .intro-title {
    font-size: 5.6rem;
  }
}

.down-arrow {
  display: block;
  height: 12rem;
  margin: 0 auto;
  position: relative;
}

.down-arrow,
.down-arrow::after,
.down-arrow::before {
  display: block;
  border-radius: 3rem;
  width: 5px;
  background: #fff;
}

.down-arrow::before,
.down-arrow::after {
  content: '';
  position: absolute;
  height: 4rem;
  bottom: -0.4rem;
}

.down-arrow::before {
  left: -1.4rem;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.down-arrow::after {
  right: -1.4rem;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.section {
  text-align: center;
}

@media screen and (min-width: 700px) {
  .section-transform {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-transform .col {
    width: 50%;
  }
}

.transform-img {
  height: 100vh;
  background-image: url(../images/mobile/image-transform.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

@media screen and (min-width: 1000px) {
  .transform-img {
    height: 100vh;
    background-image: url(../images/desktop/image-transform.jpg);
  }
}

@media screen and (min-width: 700px) {
  .section-standout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-standout .col {
    width: 50%;
  }
}

.standout-img {
  height: 100vh;
  background-image: url(../images/mobile/image-stand-out.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

@media screen and (min-width: 1000px) {
  .standout-img {
    height: 100vh;
    background-image: url(../images/desktop/image-stand-out.jpg);
  }
}

.description-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.text-box {
  height: 100%;
  padding: 6.4rem 2.4rem;
}

@media screen and (min-width: 700px) {
  .text-box {
    text-align: left;
    max-width: 500px;
    margin: 0 auto;
  }
}

.heading-secondary {
  font-size: 3.2rem;
  color: #24303E;
  line-height: 1.1;
  margin-bottom: 2.4rem;
}

@media screen and (min-width: 700px) {
  .heading-secondary {
    font-size: 4rem;
  }
}

.text-description {
  color: #808397;
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 3.2rem;
  line-height: 1.7;
}

.btn-learn {
  font-family: "Fraunces", sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #24303E;
  text-decoration: none;
  position: relative;
}

.btn-learn::after {
  content: '';
  display: block;
  width: 115%;
  height: 0.9rem;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 13px;
  background: rgba(250, 212, 0, 0.3);
  padding: 0;
  border-radius: 2rem;
  z-index: -1;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.btn-learn.learn-audience::after {
  background: rgba(254, 119, 102, 0.3);
}

.btn-learn.learn-audience:hover::after {
  background: #FE7766;
}

.btn-learn:hover::after {
  background: #FBD600;
}

@media screen and (min-width: 700px) {
  .section-ui {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.design-section,
.photography-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
}

@media screen and (min-width: 700px) {
  .design-section,
  .photography-section {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.design-section {
  background-image: url(../images/mobile/image-graphic-design.jpg);
  color: #24554A;
}

@media screen and (min-width: 700px) {
  .design-section {
    background-image: url(../images/desktop/image-graphic-design.jpg);
  }
}

.heading-tertiary {
  font-size: 2.8rem;
  margin-bottom: 2.8rem;
}

.description {
  font-size: 1.6rem;
  position: absolute;
  bottom: 0;
  padding: 6rem 0;
  max-width: 380px;
  margin: 0 auto;
}

@media screen and (min-width: 1000px) {
  .description {
    width: 70%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.photography-section {
  background-image: url(../images/mobile/image-photography.jpg);
  color: #19536C;
}

.photography-section .heading-tertiary {
  color: #052C3B;
}

@media screen and (min-width: 700px) {
  .photography-section {
    background-image: url(../images/desktop/image-photography.jpg);
  }
}

.section-testimonials {
  padding: 6.4rem 0;
}

@media screen and (min-width: 1000px) {
  .section-testimonials {
    padding: 10rem 2.4rem;
  }
}

.profile-img {
  width: 7.2rem;
  height: 7.2rem;
  border-radius: 50%;
  margin-bottom: 3.2rem;
}

.testimonial-title {
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: #A7AAAD;
  margin-bottom: 6.4rem;
}

@media screen and (min-width: 700px) {
  .testimonial-title {
    font-size: 2rem;
    letter-spacing: 0.5rem;
  }
}

.testimonial-text {
  color: #5B636D;
  line-height: 1.8;
  margin-bottom: 3.2rem;
}

@media screen and (min-width: 1000px) {
  .testimonial-text {
    font-size: 1.8rem;
  }
}

.testimonial + .testimonial {
  margin-top: 6.4rem;
}

@media screen and (min-width: 700px) {
  .testimonial + .testimonial {
    margin-top: 0;
    margin-left: 3rem;
  }
}

.name {
  font-size: 1.8rem;
}

.work {
  color: #A7AAAD;
}

.section-gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

@media screen and (min-width: 1000px) {
  .section-gallery {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

.gallery-img {
  height: 18rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
}

.gallery-img--1 {
  background-image: url(../images/mobile/image-gallery-milkbottles.jpg);
}

@media screen and (min-width: 700px) {
  .gallery-img--1 {
    background-image: url(../images/desktop/image-gallery-milkbottles.jpg);
  }
}

.gallery-img--2 {
  background-image: url(../images/mobile/image-gallery-orange.jpg);
}

@media screen and (min-width: 700px) {
  .gallery-img--2 {
    background-image: url(../images/desktop/image-gallery-orange.jpg);
  }
}

.gallery-img--3 {
  background-image: url(../images/mobile/image-gallery-cone.jpg);
}

@media screen and (min-width: 700px) {
  .gallery-img--3 {
    background-image: url(../images/desktop/image-gallery-cone.jpg);
  }
}

.gallery-img--4 {
  background-image: url(../images/mobile/image-gallery-sugar-cubes.jpg);
}

@media screen and (min-width: 700px) {
  .gallery-img--4 {
    background-image: url(../images/desktop/image-gallery-sugarcubes.jpg);
  }
}

@media screen and (min-width: 700px) {
  .gallery-img {
    height: 32rem;
  }
}

@media screen and (min-width: 1000px) {
  .gallery-img {
    height: 40rem;
  }
}

footer {
  background-color: #90D4C6;
  padding: 6.4rem 3.2rem;
}

@media screen and (min-width: 1000px) {
  footer .container {
    width: 60%;
  }
}

footer .logo-img {
  -webkit-filter: invert(45%) sepia(8%) saturate(2891%) hue-rotate(118deg) brightness(81%) contrast(81%);
          filter: invert(45%) sepia(8%) saturate(2891%) hue-rotate(118deg) brightness(81%) contrast(81%);
  margin-bottom: 4rem;
}

@media screen and (min-width: 1000px) {
  footer .logo-img {
    font-size: 3.3rem;
  }
}

.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 9rem;
}

.footer-list-item .nav-link:hover {
  color: #fff;
}

.footer-list-item + .footer-list-item {
  margin-left: 5.7rem;
}

.footer-list .nav-link {
  font-size: 1.8rem;
  color: #458D7E;
}

.social-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-item + .social-item {
  margin-left: 2.8rem;
}

.social-link {
  font-size: 2rem;
  text-decoration: none;
  color: #2C7566;
}

.social-link:hover {
  color: #fff;
}
/*# sourceMappingURL=main.css.map */